
$color1:#8c50e6;
$color2:#8037ed;
%titulos {
    text-align: center;
    color: #fff;
    font-variant: small-caps;}
@mixin foto-nr{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    nav{
        background-color: black;
        opacity: 0.8;
        
    }
    .navbar-brand:hover {
        transform: scale(1.5);
        transition-duration: 2s;
    }
    .nav-link {
        font-weight: bold;
        text-transform: uppercase;
        color:#f2f2f2
        
    }
    .banner-imagen {
        background-image: url(multimedia/banner.jpeg);
        background-size: cover;
        
    }
    
    
}

/* main */

.index {
    background-color: $color1;
    .sec-index {
        border: 3px solid #000;
        padding: 15px;
        p {
            font-weight: 700;
        }
    }
    .titulo-index {
        @extend %titulos;
    }
    .btn {
        background-color: $color2;
        font-variant: small-caps;
    }
    .btn:hover {
        transform: rotateY(15deg);
        transition-duration: 2s;
        }
    // shop
    .shop-left {
        background-image: url(multimedia/remera.png);
        height: 350px;
        @include foto-nr;
    }
    // nosotros
    .nosotros-right {
        background-image: url(multimedia/nostoros.jpeg);
        @include foto-nr;
        height: 380px;
    }
    .equipos-left {
        background-image: url(multimedia/todovioleta.jpeg);
        background-size: cover;
        background-position: center;
        height: 350px;
    }
}

/* nosotros */

#nosotros {
    background-image: url(multimedia/maxdgt.jpeg);
    background-size: cover;
}

.nosotros{
    background-color: $color2;
    .sec-nos {
        padding: 15px;
        border: solid 15px $color1;
        h2{ margin-bottom: 18px;}
    }
}

.sec-nos{
    p {
        font-weight: 500;
    }
}

.nos-fran {
    background-image: url(multimedia/fran.JPG);
    @include foto-nr;
    height: 380px

}
.titulo-nos {
    @extend %titulos;
}

.subtitulo-nos {
    @extend %titulos;
    font-size: 20px;
}



/* equipos */

#equipos {
    background-image: url(multimedia/equipos.jpg);
    background-size: cover;
}

.section-logo-equipos {
    background: rgb(128, 55, 237);
    background: linear-gradient(180deg, rgba(128, 55, 237, 1) 0%, rgba(216, 95, 255, 1) 100%);
    padding-bottom: 15px;
    .logos-equipos {
        height: 150px;
        width: 150px;
    }
}
.section-equipos {
    background-color: $color2;
    border: solid 15px $color1;
    padding-bottom: 15px;
    .text-player {
        color: black;
    }
    
    .logos-equipos {
        height: 150px;
        width: 150px;
    }
    .player{
        padding-bottom:30px;
        .jugadores-nombre {
            font-weight: bold;
            font-variant: small-caps;
            }
        .jugadores-csgo-foto {
            height: 140px;
            width: 280px;
            }
        .jugadores-val-foto {
            height: 200px;
            width: auto;
            }
    }
}
.titulo-equipos {
    font-variant: small-caps;
    padding-bottom: 15px;
}

.player:hover{
        transform: scale(1.2);
        transition-duration: 2.8s;
}

// shop

#shop {
    background-image: url(multimedia/EE7urqRXsAI3Z1b.jpg);
    background-size: cover;
}

.tienda{
    background-color: $color1;
    h1 { 
        @extend %titulos;
    }
    .shop-nombre {
        @extend %titulos;
        font-weight: 600;
    }
}



// contacto

#contacto { background-image: url(multimedia/todovioleta.jpeg);}

.contacto {
    border: solid 18px $color1;
    background-color: $color2 ;
}
.contacto-foto {
    height:850px;
    padding-left: 25px;
}

.contenedor-derecho {
    .titulo-contacto {
        @extend %titulos;
        padding-top: 15px;
        
    }
    .contacto-box {
        font-variant: small-caps;
        font-size: 20px;
        color: #f2f2f2;
        padding: 22px;
        span{ color: black;
            font-weight: 700;
        }
        .contacto-titulo{ 
            opacity: 0.6;
        }
        .contacto-info {
            .span{ color: $color1;
            }
        }
    }
    .subtitulo-contacto {
        margin-top: 25px;
        font-size: 30px;
        font-variant: small-caps;
        color: #f2f2f2;
        text-align: center;
    }
    .sponsors{
        justify-content: center;
        height: 150px;
        padding: 15px;
    }
    
}











.footer {
    background-color: $color2;
    height: 80px;
    padding: 15px;
    color: white;
    .redes {
        font-size: 36px;
        a {
            color: white;
            padding: 10px;
        }
        .end {
            margin-right: 15px;
            font-variant: small-caps;
            padding-top: 10px;
            float: right;
            font-size: 18px;
        
        }
    }
    
}


