* {
  margin: 0;
  padding: 0;
}

/* header */
header nav {
  background-color: black;
  opacity: 0.8;
}
header .navbar-brand:hover {
  transform: scale(1.5);
  transition-duration: 2s;
}
header .nav-link {
  font-weight: bold;
  text-transform: uppercase;
  color: #f2f2f2;
}
header .banner-imagen {
  background-image: url(multimedia/banner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* main */
.index {
  background-color: #545755;
}
.index .sec-index {
  border: solid 15px #8c50e6;
  padding: 15px;
}
.index .sec-index p {
  font-weight: 700;
}
.index .titulo-index {
  text-align: center;
  color: #fff;
  font-variant: small-caps;
}
.index .btn {
  background-color: #8037ed;
  font-variant: small-caps;
}
.index .btn:hover {
  transform: rotateY(15deg);
  transition-duration: 2s;
}
.index .shop-left {
  background-image: url(multimedia/remera.png);
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.index .nosotros-right {
  background-image: url(multimedia/nostoros.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 380px;
}
.index .equipos-left {
  background-image: url(multimedia/todovioleta.jpeg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

/* nosotros */
#nosotros {
  background-image: url(multimedia/maxdgt.jpeg);
  background-size: cover;
}

.nosotros {
  background-color: #545755;
}
.nosotros .sec-nos {
  padding: 15px;
  border: solid 15px #8c50e6;
}
.nosotros .sec-nos h2 {
  margin-bottom: 20px;
}

.sec-nos p {
  font-weight: 700;
  color: #f2f2f2;
}

.nos-fran {
  background-image: url(multimedia/fran.JPG);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 380px;
}

.titulo-nos, .subtitulo-nos {
  text-align: center;
  color: #fff;
  font-variant: small-caps;
}

.subtitulo-nos {
  font-size: 20px;
}

/* equipos */
#equipos {
  background-image: url(multimedia/043a4199674805.5ef98fcc4e242.png);
  background-size: cover;
}

.section-logo-equipos {
  background: rgb(128, 55, 237);
  background: linear-gradient(180deg, rgb(128, 55, 237) 0%, rgb(216, 95, 255) 100%);
  padding-bottom: 15px;
  border: solid 15px #8c50e6;
}
.section-logo-equipos .logos-equipos {
  height: 150px;
  width: 150px;
}

.section-equipos {
  background-color: #545755;
  border: solid 15px #8c50e6;
  padding-bottom: 15px;
}
.section-equipos .text-player {
  color: black;
}
.section-equipos .logos-equipos {
  height: 150px;
  width: 150px;
}
.section-equipos .player {
  padding-bottom: 30px;
}
.section-equipos .player .jugadores-nombre {
  font-weight: bold;
  font-variant: small-caps;
}
.section-equipos .player .jugadores-csgo-foto {
  height: 140px;
  width: 280px;
}
.section-equipos .player .jugadores-val-foto {
  height: 200px;
  width: auto;
}

.titulo-equipos {
  font-variant: small-caps;
  padding-bottom: 15px;
}

.player:hover {
  transform: scale(1.2);
  transition-duration: 2.8s;
}

#shop {
  background-image: url(multimedia/EE7urqRXsAI3Z1b.jpg);
  background-size: cover;
}

.tienda {
  background-color: #545755;
  border: solid 18px #8c50e6;
}
.tienda h1 {
  text-align: center;
  color: #fff;
  font-variant: small-caps;
}
.tienda .shop-nombre {
  text-align: center;
  color: #fff;
  font-variant: small-caps;
  font-weight: 600;
}

#contacto {
  background-image: url(multimedia/todovioleta.jpeg);
}

.contacto {
  border: solid 18px #8c50e6;
  background-color: #8037ed;
}

.contacto-foto {
  height: 850px;
  padding-left: 25px;
}

.contenedor-derecho .titulo-contacto {
  text-align: center;
  color: #fff;
  font-variant: small-caps;
  padding-top: 15px;
}
.contenedor-derecho .contacto-box {
  font-variant: small-caps;
  font-size: 20px;
  color: #f2f2f2;
  padding: 22px;
}
.contenedor-derecho .contacto-box span {
  color: black;
  font-weight: 700;
}
.contenedor-derecho .contacto-box .contacto-titulo {
  opacity: 0.6;
}
.contenedor-derecho .contacto-box .contacto-info .span {
  color: #8c50e6;
}
.contenedor-derecho .subtitulo-contacto {
  margin-top: 25px;
  font-size: 30px;
  font-variant: small-caps;
  color: #f2f2f2;
  text-align: center;
}
.contenedor-derecho .sponsors {
  justify-content: center;
  height: 150px;
  padding: 15px;
}

.footer {
  background-color: #8037ed;
  height: 80px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .redes {
  font-size: 36px;
}
.footer .redes a {
  color: white;
  padding: 10px;
}
.footer .end {
  margin-right: 15px;
  font-variant: small-caps;
  padding-top: 10px;
  font-size: 18px;
  color: #f2f2f2;
}

@media only screen and (max-width: 575px) {
  .footer .redes {
    font-size: 25px;
  }
  .footer .end {
    font-size: 14px;
  }
}/*# sourceMappingURL=estilos.css.map */